name: Unittest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
    name: Test - Python ${{ matrix.python-version }} on ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get setuptools Unix
      if: ${{ matrix.os != 'windows-latest' }}
      run: pip install --upgrade pip setuptools
    - name: Get setuptools Windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: pip install --upgrade --user pip setuptools
    - name: Install dependencies
      run: make dev_install
    - name: Setup test configuration
      run: cp config.yaml.example config.yaml
    - name: Test with pytest
      run: |
        make -e test
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        fail_ci_if_error: true
